@import "vars";

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../imagenes/fotos/DSC_0402.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	nav{
		justify-content: space-between;
		.logo{
		width: 60px;
		position: block;
		margin-left: 20px;
		}
		.button-menu{
			display: inline-block;
			margin-top: 20px;
			margin-left: 190px;
		}
		.menu-nav{
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 360px;
			background-color: $black;
			padding: 1rem 2rem;
			transform: translateX(720px);
			transition: transform .3s;
			.menu-nav__ul{
				list-style: none;
				text-align: center;
				margin-top: 160px;
				.menu-nav__li{
					display: block;
					margin-bottom: 1rem;
					font-size: 2rem;
					padding: 2px 5px;
					.menu-nav__a{
						color: $white;
						font-weight: $medium-weight;
						text-decoration: none;
					}
				}
			}
		}
		.menu-nav.visible{
			transform: translateX(0);
			z-index: 5;
		}
		.mostrar-menu{
			width: 50px;
			font-size: 2.5rem;
			background-color: transparent;
			color: #01893f;
			border: 0;
			cursor: pointer;
		}
		.cerrar-menu{
			background-color: transparent;
			border: 0;
			padding: 0;
			color: #01893f;
			font-size: 4rem;
			cursor: pointer;
			position: absolute;
			right: 2rem;
			top: 0;
		}
	}
}
