@import "vars";

/*header*/
@media all and (max-width: 847px){
    .header{
        .nav{
            .nav__ul{
                display: none;
            }
            .nav__burgr{
                display: block;
            }
        }
    }
}

/*home*/
@media all and (max-width: 847px){
    .textBox__titulo{
        font-size: 1em;
    }
    .nav__links{
        position: absolute;
        height: 100vh;
        top: 0;
        text-align: left;
        z-index: 2;
        .nav__ul{
            padding: 10px;
            .nav__ul li{
                display: inline-block;
            }
        }
    }
}

/*biography*/
@media all and (max-width: 847px){
	.biography{
	    text-align: left;
        .biography__row{
            flex-direction: column;
            .biography__column{
                .biography__img{
                    width: 300px;
                }
            }
        }
	}
}

/*call to action*/
@media all and (max-width: 847px){
	.cta__titulo{
		font-size: 1.25em;
	}
}

/*contact*/
@media all and (max-width:847px){
    .contact{
        .contact__titulo{
        font-size: 2rem;
        }
        .contact__container{
            flex-direction: column;
            align-items: center;
            padding-top: 0;
            height: 400px;
            textarea{
                height: 100px;
            }
            .contact__input-fields , .contact__message{
                width: 100%;
            }
            .contact__button{
                margin-left: 70px;
            }
        }
    }
    
}

/*discography*/
@media all and (max-width: 847px){
	.discography{
        font-size: 1em;
        .discography__img{
        margin-left: 20px;
        flex-direction: row;
        width: 250px;
        }
	}
}

/*evolution*/
@media all and (max-width: 847px){
    .evolution{
        margin-left: 100px;
        margin-top: 30px;
        width: 500px;
        .evolution__albumColumn{
            margin-top: 20px;
        }
    }
    .listEvolution{
        margin-top: 250px;
        width: 315px;
        right: 30px;
        height: 400px;
        overflow-y: scroll;
	&::-webkit-scrollbar{
		width: 12px;
		background: $black;
	}
	&::-webkit-scrollbar-thumb{
		background: $green;
	}
        .listEvolution__ul{
            width: 300px;
        }
    }
}

/*diferente*/
@media all and (max-width: 847px){
    .diferente{
        margin-left: 100px;
        margin-top: 30px;
        width: 500px;
        .diferente__img{
            margin-top: 20px;
        }
    }
    .listDiferente{
        margin-top: 200px;
        width: 315px;
        right: 30px;
        height: 375px;
        overflow-y: scroll;
	&::-webkit-scrollbar{
		width: 12px;
		background: $black;
	}
	&::-webkit-scrollbar-thumb{
		background: $green;
	}
        .listDiferente__ul{
            width: 300px;
        }
    }
}

/*recordando*/
@media all and (max-width: 847px){
    .recordando{
        margin-left: 100px;
        margin-top: 30px;
        width: 500px;
        .recordando__img{
            margin-top: 20px;
        }
    }
    .listRecordando{
        margin-top: 250px;
        width: 320px;
        right: 30px;
        height: 420px;
        .listRecordando__ul{
            width: 300px;
        }
    }
}