//colores
$red:#e0545d;
$black:#191919;
$white:#ffffff;
$blue: #70a1ff;
$green: linear-gradient( #006d33, #01893f,);

//maps
$maps:("thin": 100, "extra-light": 200, "light": 300, "regular": 400, "medium": 500, "semi-bold": 600, "bold": 700,)